#map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}


body {
    overflow: hidden; 
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); 
}
