.widget-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.widget {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.widget h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.widget p {
    font-size: 1.5em;
    font-weight: bold;
}

.widget-wide {
    grid-column: span 2;
}

/* Renk Özelleştirmeleri */
.widget-total {
    background-color: #007bff;
    color: #fff;
}

.widget-working {
    background-color: #28a745;
    color: #fff;
}

.widget-broken {
    background-color: #dc3545;
    color: #fff;
}

/* Dark mode */
.dark-mode .widget {
    background-color: #333;
    border-color: #555;
    color: #dcdcdc;
}

.dark-mode .widget-wide {
    background-color: #444;
    border-color: #666;
}

.dark-mode .widget h3,
.dark-mode .widget p {
    color: #dcdcdc;
}